@font-face {
   font-family: mi-native;
   src: url("font/mi-native.woff2") format("woff2");
}


*:not(ul) {
    margin: 0;
    padding: 0;
}
body {
    padding: 1vw;
    font-family: sans-serif;
    padding-bottom: 8rem;
}

h1, h2, h3, h4, h5 { margin: 1rem 1rem .5rem 1rem; }
p { padding: .25rem; }
mono, .mono { font-family: monospace; }
.regular { font-family: sans-serif; }

/*Tables*/
table {
    border-spacing: 0;
    border: .15rem solid #000;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
}
table.centered {
    text-align: center;
}
tr:nth-child(odd) { background-color: #eee; }
tr:nth-child(even) { background-color: #fff; }
tr.hr th, tr.hr td { border-top: .1rem solid #000; }
th, td { padding: .1rem .5rem; height: 1.25rem; line-height: 1.25rem; }
th { border-left: .1rem solid #000; font-size: 1rem; padding: .25rem;}
th:first-child { border-left: none; }
.datatable td { font-family: monospace; }

tr { position: relative; }
.cutoff {
    max-width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cutoff:hover::before {
    content: attr(title);
    display: block;
    position: absolute;
    top: -1rem;
    left: 2rem;
    background-color: #ccc;
    border: .1rem solid #000;
    padding: .5rem;
}

speaker {
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
}
speaker:after { content: "🔊"; font-weight: normal; font-style: normal; }

example {
    display: inline-block;
    margin: .5rem;
    background-color: #ddd;
    padding: .5rem;
    max-width: 30rem;
    vertical-align: top;
    position: relative;
}
example *:not(speaker) { display: block; }
example gloss { margin-left: .75rem; }
example mi { margin-left: 1.5rem; }
example .native:hover { font-family: sans !important; letter-spacing: 0; }
example .load {
    position: absolute;
    right: 0;
    bottom: 0;
}

english, .english { font-style: italic; }
mi, .mi { font-weight: bold; font-style: italic; }
native, .native {
    font-family: mi-native !important;
    font-style: unset;
    letter-spacing: -.1em;
}

mihead, onoun, noun, adj, verb, number {
    padding: .1rem .2rem;
    display: inline-block;
}
mihead { background-color: #dd0; }
onoun { background-color: #aff; border: .1rem dashed #000; }
noun { background-color: #bbf; }
adj { background-color: #afa; border: .1rem dashed #000; }
verb { background-color: #faa; }
number { background-color: #000; color: #fff; }

button.loader {
    font-size: 1.5rem;
    padding: .25rem;
}

tool {
    display: inline-block;
    border: .1rem solid #000;
    background-color: rgba(220, 220, 220, .5);
    padding: .5rem;
    margin: .5rem;
    max-width: 52rem;
}
tool h4 { text-align: center; }

tool#sentence-maker textarea { font-size: 1.1rem; width: 24rem; height: 4rem; }
tool#sentence-maker p { padding: 0; }
tool#sentence-maker th { max-width: 4rem; }
tool#sentence-maker td { padding: .5rem; max-width: 32rem; overflow-wrap: break-word; }
tool#sentence-maker .focus { font-size: 1.5rem; line-height: 1.5rem; display: block; padding: .5rem; }
tool#sentence-maker options p { display: inline-block; border: .1rem solid #000; padding: .5rem; }
tool#sentence-maker preview { display: block; padding: .5rem; }

tool#sentence-maker #englishout {
    max-width: 32rem;
}
tool#sentence-maker #glossout .feature {
    font-size: .75rem;
}
tool#sentence-maker #binout {
    font-family: monospace;
}
tool#sentence-maker #asciiout input {
    border: none;
    background: transparent;
}
tool#sentence-maker #scriptout {
    font-size: 2.5rem;
    line-height: 2.5rem;
    max-width: 32rem;
}


#s2 #t1 td { border-left: .1rem solid #000; }
#s2 #t1 td:first-child { border-left: none; }
