*:not(ul) {
    margin: 0;
    padding: 0;
}
body {
    padding: 1vw;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5 { margin: 1rem 1rem .5rem 1rem; }
p { padding: .25rem; }
mono, .mono { font-family: monospace; }
.regular { font-family: sans-serif; }

/*Tables*/
table {
    border-spacing: 0;
    border: .15rem solid #000;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: inline-block;
}

tr:nth-child(odd) { background-color: #dedede; }
tr.hr th, tr.hr td { border-top: .1rem solid #000; }
th, td { padding: .1rem .5rem; height: 1.25rem; line-height: 1.25rem; }
th { border-left: .1rem solid #000; font-size: 1rem; padding: .25rem;}
th:first-child { border-left: none; }
.datatable td { font-family: monospace; }
td.type, td.verb, td.adj, td.comment { max-width: 8rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

speaker {
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
}
speaker:after { content: "🔊"; font-weight: normal; font-style: normal; }

example {
    display: inline-block;
    margin: .25rem .1rem;
    background-color: #dedede;
    padding: .5rem;
}
example *:not(speaker) { display: block; }
example:nth-child(odd) { background-color: #dedede; }
example gloss { margin-left: .5rem; }
example mi { margin-left: 1rem; }

english, .english { font-style: italic; }
mi, .mi { font-weight: bold; font-style: italic; }

char {
    position: relative;
    color: transparent;
}
char::after {
    content: attr(data-show);
    position: absolute;
    left: 0;
    color: black;
}

tool {
    display: block;
    border: .1rem solid #000;
    background-color: rgba(220, 220, 220, .5);
    padding: .5rem;
    margin: .5rem;
}

tool#sentence-maker textarea { font-size: 1.1rem; width: 24rem; height: 4rem; }
tool#sentence-maker p { padding: 0; }
tool#sentence-maker .focus { font-size: 1.2rem; display: inline-block; padding: .5rem; }
tool#sentence-maker options p { display: inline-block; border: .1rem solid #000; padding: .5rem; }
tool#sentence-maker preview { display: block; padding: .5rem; }
tool#sentence-maker mihead { background-color: #dd0; }
tool#sentence-maker onoun { background-color: #aff; border: .1rem dashed #000; }
tool#sentence-maker noun { background-color: #aaf; }
tool#sentence-maker adj { background-color: #afa; border: .1rem dashed #000; }
tool#sentence-maker verb { background-color: #faa; }
tool#sentence-maker number { background-color: #000; color: #fff; }

tool#sentence-maker mihead,
tool#sentence-maker onoun,
tool#sentence-maker noun,
tool#sentence-maker adj,
tool#sentence-maker verb,
tool#sentence-maker number { padding: .2rem; line-height: 2rem;}

tool#sentence-maker #asciiout input {
    border: none;
    background: transparent;
}


#s2 #t1 td { border-left: .1rem solid #000; }
#s2 #t1 td:first-child { border-left: none; }
