@font-face {
   font-family: mi-native-lone;
   src: url("font/lone/mi-native-lone.woff2") format("woff2");
}
@font-face {
   font-family: mi-native-rest;
   src: url("font/rest/round/mi-native-rest-round.woff2") format("woff2");
}


*:not(ul) {
    margin: 0;
    padding: 0;
}
body {
    padding: 1vw;
    font-family: sans-serif;
    padding-bottom: 8rem;
}

h1, h2, h3, h4, h5 { margin: 1rem 1rem .5rem 1rem; }
p { padding: .25rem; }
mono, .mono { font-family: monospace; }
.regular { font-family: sans-serif; }
input, textarea { font-size: 1.32rem; }

h2 { border-left: .5rem solid #000; padding-left: 1rem; }

/*Tables*/
table {
    border-spacing: 0;
    border: .15rem solid #000;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
}
table.centered { text-align: center; }
table.inline { display: inline-block; }
table.constrained td { max-width: 7rem; }
tr:nth-child(odd) { background-color: #eee; }
tr:nth-child(even) { background-color: #fff; }
tr.hr th, tr.hr td { border-top: .1rem solid #000; }
th, td { padding: .1rem .5rem; }
th { border-left: .1rem solid #000; font-size: 1rem; padding: .25rem;}
th:first-child { border-left: none; }
.datatable td { font-family: monospace; }

tr { position: relative; }
.cutoff {
    max-width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cutoff:hover::before {
    content: attr(title);
    display: block;
    position: absolute;
    top: -1rem;
    left: 2rem;
    background-color: #ccc;
    border: .1rem solid #000;
    padding: .5rem;
}

speaker {
    display: inline-block;
    font-size: 1.1rem;
    cursor: pointer;
}
speaker:after { content: "🔊"; font-weight: normal; font-style: normal; }

example {
    display: block;
    margin: .5rem auto;
    background-color: #ddd;
    padding: .5rem;
    vertical-align: top;
    position: relative;
    max-width: 40rem;
}
example *:not(speaker):not(td) { display: block; }
example english { font-size: 1.1rem; padding: .25rem; }
example gloss { padding-left: .75rem; }
example td { padding: .5rem; }
example .load {
    position: absolute;
    right: 0;
    bottom: 0;
}

english, .english { font-style: italic; }
mi, .mi { font-weight: bold; }
native1, .native1 {
    font-family: mi-native-lone !important;
    font-style: unset;
    letter-spacing: -.1em;
}

native2, .native2 {
    font-family: mi-native-rest !important;
}
native2 table, .native2 table {
    border: none;
}
native2 tr, .native2 tr {
    background-color: transparent !important;
}
native2 tr:nth-child(odd) td, .native2 tr:nth-child(odd) td {
    padding: .1rem 0 0 0;
}
native2 tr:nth-child(even) td, .native2 tr:nth-child(even) td {
    padding: 0 0 .6rem 0;
}
native2 tr:last-child td, .native2 tr:last-child td {
    padding-bottom: .1rem;
}

mihead, onoun, noun, adj, verb, number, period {
    padding: .1rem .2rem;
    display: inline-block;
}
mihead { background: linear-gradient(transparent, #dd0); }
onoun { background: linear-gradient(transparent, #aff); border-bottom: .1rem solid #000; }
noun { background: linear-gradient(transparent, #bbf); }
adj { background: linear-gradient(transparent, #afa); border-bottom: .1rem solid #000; }
verb { background: linear-gradient(transparent, #faa); }
number { background: linear-gradient(#aaa, #000); color: #fff; }
period { background: linear-gradient(transparent, #aaa); border-left: .15rem solid #000; margin-left: .5rem; }

mihead_subtle { border-bottom: .2rem solid #dd0; }
onoun_subtle { border-bottom: .2rem solid #aff; }
noun_subtle { border-bottom: .2rem solid #bbf; }
adj_subtle { border-bottom: .2rem solid #afa;}
verb_subtle { border-bottom: .2rem solid #faa; }
number_subtle { border-bottom: .2rem solid #000; }
period_subtle { border-bottom: .2rem solid #aaa;}

button.loader {
    font-size: 1.5rem;
    padding: .25rem;
}

tool {
    display: block;
    border: .1rem solid #000;
    background-color: rgba(220, 220, 220, .5);
    padding: .5rem;
    margin: .5rem auto;
    max-width: 52rem;
}
tool h4 { font-size: 1.5rem; text-align: center; }
tool td { padding: .5rem; max-width: 32rem; overflow-wrap: break-word; }
tool table#output { margin: auto; }

tool#sentencer textarea { font-size: 1.1rem; width: 24rem; height: 4rem; }
tool#sentencer options p { display: inline-block; border: .1rem solid #000; padding: .5rem; }
tool#sentencer preview { display: block; padding: .5rem; }
tool#sentencer #englishout {
    max-width: 32rem;
}
tool#sentencer #binout {
    font-family: monospace;
}

tool#sentencer th, tool#paragrapher th { max-width: 4rem; }

.focus {
    font-size: 1.5rem;
    line-height: 2rem;
    display: block;
}
tool #asciiout input {
    border: none;
    background: transparent;
    margin: .25rem;
}
tool #glossout .feature {
    font-size: .75rem;
}

#script1out, #script2out {
    max-width: 32rem;
}
#script1out {
    font-size: 2.5rem;
    line-height: 2.25rem;
}
#script2out {
    font-size: 1.5rem;
}


#s2 #t1 td { border-left: .1rem solid #000; }
#s2 #t1 td:first-child { border-left: none; }
